<ion-pane>
  <ion-header-bar class="bar-positive">
    <h1 class="title">{{appname}}</h1>
  </ion-header-bar>

  <ion-content class="content">
  
    <div class="main-view">
      <ul>
        <li>
          <a href="#/levels">
          <button class="button button-positive main-button">Start Game</button>
          </a>
		  <br>
        </li>

        <li>
          <a href="#/about">
          <button class="button button-positive main-button">About</button>
          </a>
        </li>
      </ul>
	</div>

  </ion-content>
</ion-pane>